.section-a {
  height: 70vh;
  margin: 50px 0;
  padding: 50px 0;
}

.section-a .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.section-a .container .image-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-a .container img {
  width: 400px;
}
.section-a h1 {
  font-size: 35px;
}
.section-a p {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .section-a h1 {
    font-size: 25px;
  }
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-a .container div:first-child {
    order: 2;
  }

  .section-a .container div:last-child {
    order: -1;
  }

  .section-a img {
    width: 80%;
    margin: auto;
  }
}
